In [1]:
import pandas as pd

mpg = pd.read_csv('../sample-data/Doit_Python-main/Data/mpg.csv');
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [10]:
# 문제 1) 자동차 배기량에 따라 고속도로 연비가 다른지 알아보려고 합니다. `displ(배기량)`이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 `hwy(고속도로 연비)` 평균이 더 높은지 알아보세요.
displ_low = mpg.query('displ <= 4')
displ_high = mpg.query('displ >= 5')

displ_low_hwy = displ_low['hwy'].mean()
displ_high_hwy = displ_high['hwy'].mean()

print('displ <= 4 의 고속도로 연비 평균: ', displ_low_hwy)
print('displ >= 5 의 고속도로 연비 평균: ', displ_high_hwy)

displ <= 4 의 고속도로 연비 평균:  25.96319018404908
displ >= 5 의 고속도로 연비 평균:  18.07894736842105

In [16]:
# 문제 2) 자동차 제조 회사에 따라 도시 연비가 어떻게 다른지 알아보려고 합니다. `audi` 와 `toyota` 중 어느 `manufacturer(자동차 제조 회사)`의 `cty(도시 연비)` 평균이 더 높은지 알아보세요.
audi = mpg.query('manufacturer == "audi"')
toyota = mpg.query('manufacturer == "toyota"')

audi_cty_mean = audi['cty'].mean()
toyota_cty_mean = toyota['cty'].mean()

print('audy 도시 연비: ', audi_cty_mean)
print('toyota 도시 연비: ', toyota_cty_mean)

audy 도시 연비:  17.61111111111111
toyota 도시 연비:  18.529411764705884

In [35]:
# 문제 3) `chevrolet`, `ford`, `honda` 자동차의 고속도로 연비 평균을 알아보려고 합니다. 세 회사의 데이터를 추출한 다음 `hwy` 전체 평균을 구해 보세요.
chevrolet = mpg.query('manufacturer == "chevrolet"')
ford = mpg.query('manufacturer == "ford"')
honda = mpg.query('manufacturer == "honda"')

num_of_chevrolet_hwy = len(chevrolet['hwy'])
total_chevrolet_hwy = chevrolet['hwy'].sum()

num_of_ford_hwy = len(ford['hwy'])
total_ford_hwy = ford['hwy'].sum()

num_of_honda_hwy = len(honda['hwy'])
total_honda_hwy = honda['hwy'].sum()

total_mean = (total_chevrolet_hwy + total_ford_hwy + total_honda_hwy) / (
    num_of_chevrolet_hwy + num_of_ford_hwy + num_of_honda_hwy
)
total_mean

22.50943396226415

In [40]:
# query 에 문자열 검사를 사용하여 다시 풀기
sampling_mpg = mpg.query('manufacturer in ["chevrolet", "ford", "honda"]')
sampling_hwy_mean = sampling_mpg['hwy'].mean()
sampling_hwy_mean

22.50943396226415